<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">400</h1>
        <p class="fs-3" class="text-white"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead text-white">
            Error de seguidad: El usuario seleccionado tiene un score por debajo de 30
          </p>
        <a [routerLink]="['/']" class="btn btn-primary">Ir al inicio</a>
    </div>
</div>
