.padding-0 {
  padding: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-60 {
  margin-top: 60px;
}

header {
  border-bottom: solid 1px rgb(216, 216, 216) !important;
}

.hr-header {
  border-bottom: solid 1px rgb(216, 216, 216);
}

.bg-dark .container-fluid section h1 {
  color: white;
}

.section-padding {
  padding: 60px 0;
}
.bottom {
  background-color: #212529;
  border-top: solid 1px white;
  margin-top: 10px;
}
.bottom .copyright {
  color: #e5e5e5;
  font-weight: 600;
}
.copyright a {
  color: #f2ff49;
  margin-left: 3px;
  padding-right: 3px;
}
.bottom p {
  margin-bottom: 0;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
}
.copyright p span {
  color: #d1caca;
}
.bottom .copyright p,
.bottom .copyright a:hover {
  color: #6c6d83;
}

