<div class="container-fluid padding-0">
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Double V Partners</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <i class="bx bx-home"></i>
                Inicio</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section class="container">

    <router-outlet></router-outlet>

  </section>
</div>
<footer>
  <div class="bottom section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyright">
            <p>
              © <span>2023</span>
              <a href="#" class="transition">Ember Bejarano</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

