<div class="container d-flex justify-content-center align-items-center" *ngIf="user">
             
    <div class="card">

     <div class="upper">

       <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
       
     </div>

     <div class="user text-center">

       <div class="profile">

         <img src="{{user.avatar_url}}" class="rounded-circle" width="80">
         
       </div>

     </div>


     <div class="mt-5 text-center">

       <h4 class="mb-0">{{user.name}} / {{user.login}}</h4>
       <span class="text-muted d-block mb-2">{{user.location}}</span>



       <div class="d-flex justify-content-between align-items-center mt-4 px-4">

         <div class="stats">
           <h6 class="mb-0">Followers</h6>
           <span>{{user.followers}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">Projects</h6>
           <span>{{user.public_repos}}</span>

         </div>


         <div class="stats">
           <h6 class="mb-0">Following</h6>
           <span>{{user.following}}</span>

         </div>
         
       </div>
       
     </div>
      
    </div>

  </div>