<div class="row margin-top-60">
  <div class="card bg-dark text-white">
    <div class="card-body">
      <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el nombre"
            formControlName="name"
          />
        </div>
        <div
          *ngIf="
            submit &&
            angForm.controls['name'].invalid &&
            (angForm.controls['name'].dirty || angForm.controls['name'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="angForm.controls['name'].errors?.required">
            El nombre es requerido
          </div>
          <div *ngIf="angForm.controls['name'].errors?.minlength">
            El valor debe contener minimo 4 caracteres
          </div>
          <div *ngIf="this.angForm.get('name')?.errors?.['invalidWord']">
            El valor debe ser diferente a "doublevpartners"
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
  <div class="card bg-dark text-white" *ngIf="isFind">
    <div class="card-body">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action list-group-item-dark"
          *ngFor="let user of users | slice : 0 : 10"
          (click)="openProfile(user.login, user.score)"
          style="cursor: pointer"
        >
          {{ user.login }} - {{ user.id }}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="isFind">
    <div>
      <div
        class="card bg-dark text-white"
        style="display: block"
        *ngIf="barChartData"
      >
        <canvas
          baseChart
          class="chart"
          [options]="barChartOptions"
          [type]="barChartType"
          [data]="barChartData"
        >
        </canvas>
      </div>
    </div>
  </div>
</div>
